<!DOCTYPE html>
<html ng-app="shoppingApp">

<head>
    <title>Shopping List App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
</head>

<body ng-controller="ShoppingController">

    <h2>Shopping List</h2>

    <div>
        <label>Add Item:</label>
        <input type="text" ng-model="newItem" />
        <button ng-click="addItem()">Add</button>
    </div>
    <ul>
        <li ng-repeat="item in items">
            {{ item }}
            <button ng-click="removeItem(item)">Remove</button>
        </li>
    </ul>

    <script>
        angular.module('shoppingApp', [])
            .controller('ShoppingController', function ($scope) {
                // Default items
                $scope.items = ['Apples-180', 'Bananas-100', 'Milk-40pl', 'Bread-40'];

                // Function to add a new item to the list
                $scope.addItem = function () {
                    if ($scope.newItem && $scope.items.indexOf($scope.newItem) === -1) {
                        $scope.items.push($scope.newItem);
                        $scope.newItem = ''; // Clear the input field
                    }
                };

                // Function to remove an item from the list
                $scope.removeItem = function (item) {
                    var index = $scope.items.indexOf(item);
                    if (index !== -1) {
                        $scope.items.splice(index, 1);
                    }
                };
            });
    </script>

</body>

</html>
